#content {
    float: left;
    width: 90%;
}

#login {
    float: right;
}

#left {
    float: left;
    width: 40%;
}

#right {
    float: left;
    width: 40%;
    padding: 110px;
}

#separated {
    clear: both;
}