<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen" charset="utf-8" />
    {% block js %}

    {% endblock js %}
  </head>

  <body class="home">
    {% block page_header %}
      <h1>42 Coffee Cups Test Assignment</h1>
    {% endblock %}
    <div id="content">
          {% block content %}
          {% endblock content %}
    </div>
    <div id="login">
      {% if not user.is_authenticated %}
        <p><a href="/account/login/">login</a></p>
      {% endif %}
    </div>
  </body>
</html>
