{% extends 'base.html' %}

{% block content %}
  <div id="left">
    <p>{{ person.name }}</p>
    <p>{{ person.last_name}}</p>
    {% if person.day_of_birth %}
      <p>{{ person.day_of_birth|date:'d.m.Y' }}</p>
    {% endif %}
    {% if person.bio %}
      <h4>Bio:</h4>
      <p>{{ person.bio }}</p>
    {% endif %}
  </div>
  <div id="right">
    <h3>Contacts</h3>
    {% if person.email %}
      <p>Email: {{ person.email }}</p>
    {% endif %}
    {% if person.jabber %}
      <p>Jabber: {{ person.jabber }}</p>
    {% endif %}
    {% if person.skype %}
      <p>Skype: {{ person.skype }}</p>
    {% endif %}
    {% if person.other %}
      <h4>Other contacts:</h4>
      <p>{{ person.other }}</p>
    {% endif %}
  </div>
  <div id="separated">
    {% if requests %}
      <p><a href="{% url request-list %}">Last 10 requests</a><p>
    {% endif %}
  </div>
{% endblock %}
