{% extends 'base.html' %}

{% block js %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL }}js/agilo.js"></script>
  {{ form.media }}

{% endblock %}

{% block content %}

  <form method="POST" action="."> {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="error"> {{ field.errors }} </div>
      <div>
        <label for="{{ field.label }}">{{ field.label_tag }}
        {% if field.field.required %}<span>*</span>{% endif %}</label>
        {{ field }}
      </div>
    {% endfor %}
    <input type="submit" value="Submit"/>
  </form>

{% endblock content %}